* {
    margin: 0;
}

/* Body */
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #3258BB;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn-primary {
    background-color: #97FFCE;
    color: #3258BB;
    font-size: 18px;
    font-weight: 1000;
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-secondary {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: 2px, solid, #ffffff;
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-white:hover {
    background-color: #ffffff;
}

.hover-white-2nd:hover {
    background-color: #ffffff;
    color: #3258BB;
}

.hover-blue:hover {
    background-color: #3258BB;
    color: #ffffff;
}

/* Header */
header {
    background-color: #3258BB;
    color: #ffffff;
    padding-top: 2.2vw;
    padding-right: 1vw;
    padding-left: 1vw;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul {
   display: flex;
   flex-direction: row;
}

.menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu ul li a {
    padding: 0.3vw 1vw;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.menu ul li img {
    max-width: 50px;
    visibility: hidden;
    transition: visibility 0.3 ease;
}

.has-bubble:hover img{
    max-width: 50px;
    visibility: visible;
}

.django-logo-header {
    width: 180px;
    height: auto;
 }

/* Section "hero"*/
.hero {
    background-color: #3258BB;
    color: #ffffff;
    padding: 4vw 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-content {
    margin: 3vw;
    gap: 1vw;
    display: flex;
    flex-direction: column;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3em;
}

.hero-content span {
    font-size: 40px;
    font-weight: 400;
}

.hero-content p {
    font-size: 20px;
    font-weight: 500;
}

.hero img {
    margin: 40px;
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    height: auto;
    display: block;
}

.btns-hero {
    margin-top: 1.5vw;
    gap: 1.5vw;
    display: flex;
    flex-wrap: wrap;
}


/* Section "pts-forts-django" */
.pts-forts-django {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6vw;
    gap: 2.5vw;
}

.django-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.django-titles h1 {
    font-size: 35px;
    font-weight: 800;
}

.django-titles p {
    font-size: 20px;
    font-weight: 500;
    color: #94ADF0;
}

.django-content {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.django-strengths {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.django-strengths img {
    max-width: 300px;
}

.django-strengths h2 {
    font-size: 23px;
    font-weight: 800;
}

.django-strengths p {
    font-size: 16px;
    font-weight: 500;
}



/* Section "testimonies" */
.testimonies {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vw 7vw;
    gap: 2vw;
    margin-bottom: 7vw;
}

.testimony-aside {
    background-color: #CBFFE7;
    border-radius: 30px;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10em;
}

.testimonies-main {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.testimony-content h2{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}

.gp-ronan-txt {
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
    align-items: center;
}

.ronan-testimony {
    background-color: #E2E8F5;
    border-radius: 30px;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20em;
}

.testimonies-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3em;
}

.testimony-description {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.testimony-description h2{
    color: #94ADF0;
    font-size: 20px;
    font-weight: 500;
}

.testimony-description h1 {
    font-size: 35px;
    font-weight: 800;
    line-height: 1.3em;
}

.testimony-description span {
    white-space: nowrap;
}

.odile-testimony {
    background-color: #94ADF0;
    border-radius: 30px;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
}

.person {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.person img {
    max-width: 70px;
    margin-right: 20px;
}


/* Footer */
footer {
    background-color: #3258BB;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2vw;
}

.django-logo-footer {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-content ul {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 600;
    padding: 2vw;
    gap: 2vw;
}

.footer-content ul li a {
    color: #ffffff;
}

/* Responsive pour smartphone*/
@media screen and (max-width: 1050px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .hero {
        flex-direction: column-reverse;
        align-items: center;
    }

    .btns-hero {
        justify-content: center;
    }

    .django-content {
        flex-direction: column;
    }

    .testimonies {
        flex-direction: column-reverse;
    }

    .testimony-aside,
    .ronan-testimony {
        gap: 3em;
    }

    .gp-ronan-txt {
        flex-direction: column-reverse;
    }

    .testimonies-texts {
        align-items: center;
    }

    footer {
        flex-direction: column;
    }

    .footer-content ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
